/*
    Color Palette

    Cornflower Blue
    Dark Byzantium: #623B5A
    French Lilac: #89608E
    Purple: rgb(85, 26, 139)
    Tea Green: #C8FFBE
    Tuscany: #BA9593

*/

body {
    background-color: #BA9593;
    color: #623B5A;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 3em 5em;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #89608E;
    border-color: #89608E;
    border-style: ridge;
    border-radius: .5em;
    border-width: .5em;
    margin-left: auto;
    margin-right: auto;
    padding: .5em;
}

nav a {
    display: inline-flex;
    justify-content: center;
    color:#623B5A;
    background-color: #C8FFBE;
    border-color: #C8FFBE;
    border-style: ridge;
    border-radius: 1em;
    border-width: 1em;
    margin: 1em;
    width: 5em;
    padding: 0 .5em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover, footer a:hover {
    color: cornflowerblue;
}


#experience, #projects, #education, #credits {
    background-color: #c8ffbe85;
    border-color: #89608E;
    border-style: ridge;
    border-radius: 1em;
    border-width: .5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em 2em 2em 2em;
}

#experience {
    display: inline-block;
}

#experience a, #credits a {
    color: rgb(85, 26, 139);
}

.pocketSection {
    display: inline-block;
}

.pocketSection p {
    float: right;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #89608E;
    border-color: #89608E;
    border-style: ridge;
    border-radius: .5em;
    border-width: .5em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em .5em;
}

footer a {
    color:#623B5A;
    text-decoration: none;
    font-weight: bold;
    margin: 2em 0;
}

footer p {
    background-color: #C8FFBE;
    border-color: #C8FFBE;
    border-style: ridge;
    border-radius: 1em;
    border-width: 1em;
    margin: 2em 1em;
    margin-bottom: 2em;
    width: 5em;
    padding: 0em .5em;
    margin-top: auto;
    margin-bottom: auto;
}

footer h2 {
    color: #C8FFBE;
}

img {
    border-style: ridge;
    border-radius: .2em;
    border-width: .2em;
    border-color: #89608E;
    box-shadow: 4px 4px 4px #623B5A;
}

#mini, #cycles {
    display: flex;
    justify-content: left;
    width: 100%;
}

#eve {
    display: flex;
    justify-content: left;
    width: 100%;
}

#thumbnail {
    display: flex;
    justify-content: left;
    width: 100%;
}

/*Responsiveness of images within a viewport*/

@media only screen and (min-width: 700px) {
    #mini, #cycles {
        display: inline;
        width: 50%;
    }
    
    #eve {
        display: inline;
        width: 50%;
    }

    #thumbnail {
        display: inline;
        width: 50%;
    }
}
